<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Modifica persona</title>
</head>
<body>
	<div>test</div>
	<form th:action=@{/edit} method="post" th:object="${persona}">
  <div th:if="${#fields.hasGlobalErrors()}">
    <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
  </div>
  		<div>id:<input type="number" readonly="readonly" th:field="*{id}"></div>
		<div>nome: <input type="text" th:field="*{nome}"/></div>
    	<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
		<div>cognome: <input type="text" th:field="*{cognome}"/></div>
		<div>eta: <input type="text" th:field="*{eta}"/></div>
		<div><button type="submit">Conferma</button></div>
	</form>
</body>
</html>