<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
<!--  	<link href="/css/my-style.css" rel="stylesheet"> -->
	<title>Elenco persone</title>
</head>
<body>
    <div>
    	<h4><strong>Persone:</strong></h4>
		<ul>
			<li th:each="persona : ${persone}"> 
				<span>
					<a href="/persona" th:href="@{'/persona' + '/' + ${persona.id}}"
					th:text="${persona.nome} + ' ' + ${persona.cognome}">Paolo Rossi</a>			
				</span>
				<span><a href="/persone" th:href="@{'/delete' + '/' + ${persona.id}}">Cancella</a></span>
				<span><a href="/persone" th:href="@{'edit/' + ${persona.id}}">Modifica</a></span>
			</li>
		</ul>
	</div>
    <footer><a href="/">Home</a></footer>
</body>
</html>